* {
  scroll-behavior: smooth;
  font-family: "Merriweather Sans", sans-serif;
  box-sizing: inherit;
  font-weight: inherit;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #d3d3d3;
}

.portada {
  padding-top: 10%;
  padding-bottom: 4%;
  width: 100%;
  height: 60vh;
  background-color: #161a1d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-animacion {
  margin-bottom: 3em;
  width: 65%;
  height: 40em;
  background-color: white;
  opacity: 0%;
  animation: aparecer 20s infinite;
  overflow: hidden;
}

.titulo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.titulo h1 {
  text-align: center;
  color: #f5f3f4;
  font-size: clamp(2.3rem, 1.6945rem + 2.6909vw, 6rem);
}

@keyframes aparecer {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 100%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
.animacion {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagonal {
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(45deg, white, white, #ba181b, #ba181b);

  background-size: 600%;
  background-position: left;

  z-index: 2;
  transform: skewY(-20deg);
  animation: rellenar 20s infinite;
}

@keyframes rellenar {
  0% {
    background-position: left;
    opacity: 0%;
  }

  25% {
    background-position: left;
    opacity: 20%;
  }

  50% {
    background-position: right;
    opacity: 100%;
  }

  100% {
    background-position: right;
    opacity: 100%;
  }
}

.leon {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leon img {
  width: 16%;
  z-index: 6;
  animation: aparecer2 20s infinite;
}

@keyframes aparecer2 {
  0% {
    opacity: 0%;
  }

  20% {
    opacity: 0%;
  }

  40% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

.container-navbar {
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
}

.fondo-nav {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-around;

  background-color: #0b090a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23161a1d' x='-60' y='-60' width='63' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

.logo {
  width: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
  z-index: 10;
}

.logo img {
  width: 10rem;
  position: absolute;
  transition: 1.3s;
}

.logo img:hover {
  transform: scale(1.2);
}

.navbar {
  width: 90%;
  height: 100%;
  padding: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.lista-navegacion {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

.lista-navegacion li {
  padding: 0%;
  display: flex;
  align-items: center;
  padding: 0 0.6em;
  list-style: none;
  font-size: clamp(0.68rem, 0.5622rem + 0.5236vw, 1.4rem);
  color: #f5f3f4;
  white-space: nowrap;
  text-transform: uppercase;
  margin-left: 0.6em;
}

.lista-navegacion li a {
  text-decoration: none;
  color: inherit;
}

.login-registrar {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0%;
  
}

.login-registrar a {
  padding: 0 0.3em;
  text-decoration: none;
  font-size: clamp(0.68rem, 0.5622rem + 0.5236vw, 1.4rem);
  color: #f5f3f4;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.lista-navegacion li:hover {
  transform: scale(1.2);
  transition: 1.5s;
  cursor: pointer;
}

.login-registrar a:hover {
  transition: 1s;
  background-color: #d3d3d3;
  color: #e5383b;
  height: 100%;
  cursor: pointer;
}

.section-quienes-somos {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  /* height: 80vh; */
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-quienes-somos h3 {
  font-size: 3em;
  text-align: center;
  color: #0b090a;
  display: flex;
  align-self: flex-start;
  margin-left: 4em;
  margin-top: 1em;
  margin-bottom: 2em;
  font-weight: 700;
}

.card-quienes-somos {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    155deg,
    #d3d3d3,
    #d3d3d3,
    #ba181b,
    #ba181b,
    #d3d3d3,
    #d3d3d3
  );
  background-size: 300%;
  background-position: left;

  animation: degrade-movimiento 15s infinite alternate paused;

  box-shadow: 1px 1px 44px 12px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 1px 1px 44px 12px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 1px 1px 84px 19px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

@keyframes degrade-movimiento {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.card-quienes-somos:hover {
  transition: 1s all ease-in-out;
  filter: brightness(115%);

  animation: degrade-movimiento 15s infinite alternate running;
}

.container-p {
  width: 80%;
  display: flex;
  align-self: flex-end;
  margin: 0 3em;
  color: #0b090a;
  line-height: normal;
  font-size: 1.4em;
}

.camisetas {
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;

  background-color: #161a1d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.camisetas h3 {
  font-size: 3em;
  text-align: center;
  color: #f5f3f4;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 700;
  line-height: normal;
}

.contenedor-cards {
  margin: 2em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card-camisetas {
  border-radius: 10px;
  margin: 2em;
  padding: 2em;
  width: 40%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
  clip-path: polygon(
    50% 2%,
    100% 0,
    98% 50%,
    100% 100%,
    50% 98%,
    0 100%,
    2% 50%,
    0 0
  );
}

.card-camisetas img {
  width: 60%;
}

.card-camisetas h4 {
  margin-top: inherit;
  margin-bottom: inherit;
  color: #0b090a;
}

.card-camisetas:hover {
  transition: 1s;
  opacity: 1;
  transform: scale(1.1);
}

.container-carousel {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.carousel-item {
  width: 100%;
}

.carousel-item img {
  width: 60%;
  margin: auto;
}

.section-contacto {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  /* height: 70vh; */
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-contacto {
  margin-top: 2em;
  width: 60%;
  height: 60em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5em;
  padding-bottom: 0%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;

  background-color: #e5383b;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    80% 75%,
    80% 95%,
    50% 75%,
    0% 75%
  );
}

.card-contacto h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #f5f3f4;
  font-size: 3.2em;
  font-weight: 700;
  line-height: normal;
}

.container-input {
  margin: 10px 0px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.4em;
  color: #f5f3f4;

  letter-spacing: 00.1em;
}

.container-input input {
  width: 80%;

  margin-bottom: 1.2em;
}

.container-input textarea {
  width: 80%;
  margin-bottom: 1.5em;
}

.container-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container-btn button {
  background-color: white;
  width: 7em;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;

  padding: 0.6em;
  border-radius: 10px;
  border-style: none;
  font-size: 1.5em;
  font-family: inherit;
  color: #e5383b;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.55);
}

.container-btn button:hover {
  background-color: white;
  cursor: pointer;
  color: #e5383b;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #0b090a;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23161a1d' x='-60' y='-60' width='63' height='240'/%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-icons {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-icons a {
  text-decoration: none;
  color: inherit;
}

.container-icons i {
  margin: 0.5em;
  font-size: 2em;
  color: #f5f3f4;
}

.icon-facebook:hover {
  color: #3b5998;
}

.icon-twitter:hover {
  color: #1da1f2;
}

.icon-instagram:hover {
  color: #c13584;
}

.icon-youtube:hover {
  color: #ff0000;
}













.section-registro {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  /* height: 70vh; */
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-registro {
  margin-top: 2em;
  width: 30%;
  

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em;
  padding-bottom: 0%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;

  background-color: #A4161A;
opacity: 1;
background: repeating-linear-gradient( -45deg, #A4161A, #A4161A 2px, #BA181B 2px, #BA181B 10px );

  /* background-color: #ba181b;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23e5383b' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23e5383b' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E"); */

  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.card-registro h3 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #f5f3f4;
  font-size: 3em;
  font-weight: 700;
  line-height: normal;
  margin-block-start: 0%;
  
  
}

.container-input-reg {
  margin: 10px 0px;

  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  
  color: #f5f3f4;

  letter-spacing: 00.1em;
}

.container-input-reg input {
  font-size: 1.6em;
  width: 100%;
  height: 15%;
  border-radius: 6px;

  margin-bottom: 1.2em;
  padding: 0.6em;
}

.container-checkbox-reg{
  margin: 10px 0px;

  width: 85%;
  display: flex;
  
  justify-content: flex-start;
  
  
  align-items: center;
  font-size: 0.95em;
  
  
  color: #f5f3f4;

  letter-spacing: 00.1em;
  
}

.container-checkbox-reg input {
  

  font-size: 1.4em;
  
  
  border-radius: 6px;
  margin-right: 1em;

  margin-bottom: 1.2em;
  padding: 0.6em;
}


.container-btn-reg {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 1em;
  margin-bottom: 1em;
}

.container-btn-reg button {
  background-color: white;
  width: auto;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;

  padding: 0.6em;
  border-radius: 10px;
  border-style: none;
  font-size: 1.5em;
  font-family: inherit;
  font-weight: 700;
  color: #e5383b;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.55);
}

.container-btn-reg button:hover {
  background-color: white;
  cursor: pointer;
  color: #e5383b;
  text-shadow: 1px 1px 6px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}








































@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media screen and (min-width: 1981px) {
  /* .logo {
    width: 20%;
  }

  .navbar {
    width: 80%;
  }

  .lista-navegacion {
    width: 80%;
    justify-content: center;
  }

  .login-registrar {
    width: 20%;
  } */
  .card-contacto{
    width: 40%;
  }

  
}

@media screen and (max-width: 1980px) and (min-width: 1201px) {
  .container-animacion {
    margin-top: 1em;
    width: 55%;
    height: 30em;
    
  }

  .logo {
    width: 10%;
  }

  .navbar {
    width: 90%;
    
  }

  .lista-navegacion{
    justify-content: space-around;
  }

  .logo img {
    width: 8rem;
  }

  .card-contacto {
    width: 60%;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      80% 75%,
      80% 90%,
      50% 75%,
      0% 75%
    );
  }
  .card-registro {
    width: 45%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .container-animacion {
    margin-top: 1em;
    width: 80%;
    height: 70%;
  }
  .leon img {
    width: 30%;
  }

  .card-camisetas {
    width: 80%;
  }

  .card-contacto {
    width: 60%;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      80% 75%,
      80% 90%,
      50% 75%,
      0% 75%
    );
  }
  .card-registro {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .container-animacion {
    margin-top: 2em;
    width: 80%;
    height: 70%;
  }

  .leon img {
    width: 25%;
  }

  .logo {
    margin-left: 0%;
  }

  .card-camisetas {
    width: 80%;
  }

  .card-contacto {
    width: 80%;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      80% 75%,
      80% 90%,
      50% 75%,
      0% 75%
    );
  }
  .card-registro {
    width: 75%;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .container-animacion {
    margin-top: 4em;
    width: 80%;
    height: 50%;
  }

  .logo {
    margin-left: 0%;
  }

  .logo img {
    width: 7rem;
  }

  .leon img {
    width: 25%;
  }

  .card-quienes-somos {
    width: 90%;
  }

  .card-quienes-somos h3 {
    margin-left: 0%;
    align-self: unset;
  }

  .card-camisetas {
    width: 80%;
  }

  .card-contacto {
    width: 85%;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      80% 75%,
      80% 90%,
      50% 75%,
      0% 75%
    );
  }

  .container-input input {
    width: 70%;
  }

  .container-input textarea {
    width: 70%;
  }
  .card-registro {
    width: 80%;
  }

  /* .card-registro h3 {
    font-size: 1.5em;
}

.container-input-reg input {
  font-size: 0.9em;
}

.container-checkbox-reg {
  font-size: 0.75em;
}

.container-btn-reg button {
  font-size: 1em;
} */
}

@media screen and (max-width: 480px) and (min-width: 320px) {
  .logo {
    margin-left: 0%;
    width: 10%;
    opacity: 0%;
    position: absolute;
  }

  .logo img {
    width: 2rem;

  }

  .container-navbar {
    height: 8%;
  }

  .navbar {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .lista-navegacion {
    margin-top: 0.5em;
    width: 100%;
    justify-content: flex-end;
  }

  .lista-navegacion li{
    margin-left: 0.2em;
  }

  .login-registrar {
    width: 100%;
    justify-content: flex-end;
  }

  .portada {
    padding-bottom: 0%;
    padding-top: 20%;
    height: 40vh;
  }

  .container-animacion {
    width: 95%;
    height: 40%;
    margin-bottom: 0%;
    margin-top: 2em;
  }

  .leon img {
    width: 25%;
  }

  .diagonal {
    height: 4rem;
  }

  .section-quienes-somos {
    margin: 0%;
  }

  .card-quienes-somos {
    width: 95%;
  }

  .card-quienes-somos h3 {
    font-size: 1.5em;
    align-self: unset;
    margin-left: 0%;
    margin-top: 0%;
  }

  .container-p {
    font-size: 0.85em;
  }

  .camisetas {
    padding: 0%;
  }

  .camisetas h3 {
    font-size: 1.5em;
    margin-bottom: 0%;
  }

  .card-camisetas {
    width: 80%;
    margin: 0.5em;
  }

  .section-contacto {
    margin-top: 2rem;
    margin-bottom: -10%;
  }

  .card-contacto {
    margin-top: 0%;
    width: 85%;
    height: 30em;
    padding: 1.5em;
    padding-bottom: 0.5em;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      80% 75%,
      80% 85%,
      50% 75%,
      0% 75%
    );
  }

  .card-contacto h3 {
    font-size: 1.5em;
    margin-top: 0%;
    margin-bottom: 1em;
  }

  .container-input {
    font-size: 0.8em;
  }

  .container-input input {
    width: 70%;
  }

  .container-input textarea {
    width: 70%;
  }

  .container-btn button {
    font-size: 1em;
  }

  .card-registro {
    width: 80%;
  }

  .card-registro h3 {
    font-size: 1.5em;
}

.container-input-reg input {
  font-size: 0.9em;
}

.container-checkbox-reg {
  font-size: 0.75em;
}

.container-btn-reg button {
  font-size: 1em;
}
}





